.item1 { grid-area: header; }
.item2 { grid-area: header2; }
.item3 { grid-area: right; }
.item4 { grid-area: right2; }
.item5 { grid-area: right3; }
.item6 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'header2 header2 header2 header2 header2 header2'
    'right right right2 right2 right3 right3'
    'footer footer footer footer footer footer';
  gap: 0px;
  background-color: grey;
  padding: 3px;
}

.grid-container > div {
  background-color:white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}