.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

 .grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main right right right'
    'footer footer footer footer footer footer';
  gap: 0px;
  background-color: grey;
  padding: 3px;
}

.grid-container > div {
  background-color:white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}